* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.details {
    background: #fff;
    display: flex;
    border-radius: 0.9rem;
    overflow: hidden;
    max-width: 700px;
    width: 100%;
}

.Image {
    width: 50%;
    object-fit: cover;
}

.Product {
    padding: 2.2rem;
    width: 50%;
}

.Product-type {
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
}

.Product-name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    line-height: 1;
    font-family: 'Fraunces', serif;
}

.Qualities {
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
}

.Prices {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    margin-bottom: 2rem;
}

.Current-price {
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    font-weight: 800;
    font-family: 'Fraunces', serif;
}

.old-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
}

.Cart-icon {
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: 0.3s ease;
}

.Cart-icon:hover {
    background-color: hsl(158, 36%, 25%);
}


@media (max-width: 700px) {
    .details {
        flex-direction: column;
    }

    .Image {
        width: 100%;
        height: 300px;
    }

    .Product {
        width: 100%;
    }
}
